<div class="container">
  <header>
    <h1>{{ 'HOME.WELCOME' | translate }}</h1>
    <p>{{ 'HOME.CLICK_HERE' | translate }}</p>
    
    <div class="language-switcher">
      <label for="language">{{ 'HOME.SELECT_LANGUAGE' | translate }}</label>
      <select id="language" (change)="changeLanguage($event)">
        <option value="en" [selected]="selectedLanguage() === 'en'">English</option>
        <option value="fr" [selected]="selectedLanguage() === 'fr'">Français</option>
      </select>
    </div>
  </header>

  <nav>
    <ul class="nav-links">
      <li>
        <a routerLink="/university" routerLinkActive="active">{{ 'HOME.UNIVERSITY' | translate }}</a>
      </li>
      <li>
        <a routerLink="/student" routerLinkActive="active">{{ 'HOME.STUDENT' | translate }}</a>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
